@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

// Your existing SCSS
$primary: #9FCDD2;
$info: #0E3C87;
$success: #3DACDB;
$body-bg: #f6edca;
$secondary: #E9e47e;

.sora {
         font-family: "Sora", sans-serif;
         font-optical-sizing: auto;
         font-weight: 600;
         font-style: normal;
}


// Background image
$background-image-path: '/en/draw.jpg';
$skopje-image-path: '/en/skopje3.jpg';

.classroom-bckg {
  background-image: url(#{$background-image-path});
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.skopje-bckg{
  background-image: url(#{$skopje-image-path});
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-sec{
  background: #fdf0cb;
}
.bg-th{
  background: #fdd2fa;
}


//cards

.card-img-scale{
  max-height: 25%;
}

// Animations
.nav-link:hover {
  animation: pulse 1s;
}

